
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}


.container {
    max-width: 1000px;
    margin: auto;
}


h1 {
    text-align: center;
    margin-bottom: 25px;
}


.summary {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}


.box {
    background-color: white;
    padding: 20px;
    flex: 1;
    text-align: center;
    border-radius: 8px;
}


.box p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}


.income p {
    color: green;
}


.expense p {
    color: red;
}


.balance p {
    color: blue;
}


.form-box {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 25px;
}


.form-box h2 {
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
}


label {
    margin-bottom: 5px;
    font-weight: bold;
}


input,
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    padding: 10px;
    border: none;
    background-color: #2563eb;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background-color: #1d4ed8;
}


.filter-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}


.filter-box h2 {
    margin-bottom: 15px;
}


.transactions {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    overflow-x: auto;
}


table {
    width: 100%;
    border-collapse: collapse;
}


th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}


th {
    background-color: #f1f1f1;
}


.edit-button {
    background-color: orange;
    margin-right: 5px;
}


.delete-button {
    background-color: red;
}


@media (max-width: 700px) {

    .summary {
        flex-direction: column;
    }

    table {
        min-width: 700px;
    }

}



